.git
.github
node_modules
vendor
storage/app/private
storage/app/public
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
database/*.sqlite
public/build
bin/shup
.env
.env.*
!.env.example
.phpunit.result.cache
tests
README.md
